
$smoke: #d3d3d3;
$gray: #818181;

$text-base-color: #444444;
$text-link-blue: #9e72b3;
$text-link-blue-active: #9e72b3;

$dark-text-base-color: #cfcfcf;
$dark-text-link-blue: #9573b9;
$dark-text-link-blue-active: #9573b9;

$dark-black: #0f0f0f;
$dark-white: #eaeaea;
$dark-light: #222222;
$dark-smoke: #535353;



::selection {
  background: $light;
}

// Link
a {
    &:focus {
        outline-color: $smoke;
        outline: none;
    }
}

.menu-link svg{
    fill: $black !important;
}

.search-article input[type="search"]{
    font-family: $sans-family;
    border: none;
    border-radius: 99px;
}

code.highlighter-rouge{
    border: none;
    padding: 3px 4px;
}

pre.highlight, pre{
    border: none;
    border-radius: 4px;
    margin: 0 -16px;
}



body[data-theme="dark"] {
    ::selection {
        background: $dark-smoke;
        color: inherit;
    }

    a {
        &:focus {
            outline-color: $smoke;
            outline: none;
        }
    }
    
    .menu-link svg{
        fill: $dark-white !important;
    }
}
