@import url('https://fonts.cdnfonts.com/css/inter-tight');

.hero {
    @apply text-center;
}

.name {
    font-family: 'Inter Tight', sans-serif;
    @apply font-extrabold mb-2 text-4xl;
}

.headline {
    @apply text-2xl leading-7;
}

.title {
    font-family: 'Inter Tight', sans-serif;
    @apply text-2xl font-bold my-2 text-center;
}

.table{
    @apply w-full flex flex-col text-base divide-y;
}

.table_row{
    @apply w-full text-left grid 
            lg:grid-cols-5 lg:grid-rows-1 lg:gap-4 lg:py-1 
            grid-cols-1 grid-rows-4 py-4;
}


.table_row_name {
    @apply lg:col-span-2 grid-rows-1 hyphens-auto;
}

.table_row_name_type {
    @apply text-gray-400 ml-2 text-sm;
}

.table_row_description {
    @apply lg:col-span-1 grid-rows-1 hyphens-auto;
}
