@import url('https://fonts.cdnfonts.com/css/inter-tight');

.hero {
    @apply text-left;
}

.name {
    font-family: 'Inter Tight', sans-serif;
    @apply font-extrabold mb-2 text-4xl w-fit
}

.headline {
    @apply text-2xl leading-7
}

.bio {
    @apply leading-5 italic
}

.title {
    font-family: 'Inter Tight', sans-serif;
    @apply text-2xl font-bold lg:my-2 text-left
}

.table{
    @apply w-full flex flex-col text-base divide-y
}

.table_row{
    @apply w-full text-left 
            lg:grid lg:grid-cols-5 lg:grid-rows-1 lg:gap-4 lg:py-1 
            grid-cols-1 flex flex-col py-2
}

.table_row_name {
    @apply lg:col-span-2 grid-rows-1 hyphens-auto italic lg:not-italic
}

.table_row_name_type {
    @apply text-gray-400 ml-2 text-sm
}

.table_row_description {
    @apply lg:col-span-1 grid-rows-1 hyphens-auto
}

.area_of_interest {
    @apply text-left
}

.interests {
    @apply flex flex-col lg:flex-row lg:gap-8
}

.footer {
    @apply italic leading-4 space-y-2
}

.footer_poem {
    @apply text-gray-400
}

.illustration {
    @apply absolute right-0 bottom-0 w-[20rem] opacity-90 -my-24 -z-50
}