
.mesh-grad {
    @apply absolute hidden lg:inline w-[88%] h-[88%] -z-50 top-0 right-0;
    background-image: url("../../assets/Mesh-Grad.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
}

.mesh-grad-sm {
    @apply absolute lg:hidden w-full h-[34rem] -top-[4rem] left-0 -z-50;
    background-image: url("../../assets/Mesh-Grad-sm.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
}

.illustrations {
    @apply grid grid-cols-3 gap-8 my-[6rem];
}

.illustration-02 {
    @apply w-full h-[36rem] col-span-3 lg:col-span-2;
    background-image: url("../../assets/02.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.illustration-09 {
    @apply w-full h-[36rem] col-span-1 hidden lg:inline;
    background-image: url("../../assets/09.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.greeting {
    @apply flex flex-col gap-4 my-24 pt-8 border-t-2 border-[#bcbcbc];
}

.greeting .headline {
    @apply font-heading text-3xl font-medium lg:text-5xl lg:font-normal leading-tight mb-4 lg:w-[52rem] tracking-tight;
}

.greeting .bio {
    @apply text-[#ededed] text-lg lg:text-2xl tracking-tight lg:w-[56rem] leading-snug;
}