@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body {
    @apply bg-[#070607] text-white overflow-x-hidden;
  }
  
  .navbar {
    @apply h-[10rem] fixed bg-transparent;
  }

  .container {
    @apply max-w-10xl mx-auto mt-[14rem] px-6;
  }

  .mesh-grad {
    @apply absolute h-[110%] w-[110%] -z-50 -top-[18%] -right-[22%];
    background-image: url("./assets/Mesh-Grad.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
  }

  .bread {
    @apply text-[#b5b5b5] mb-1 text-[200];
  }

  .hero {
    @apply flex flex-col;
  }

  .hero .name {
    @apply font-heading text-[3.8rem] tracking-tight leading-[1.4] w-[46rem] font-[600];
  }

  .hero .intro {
    @apply text-[2.3rem] tracking-tight leading-[1.2] w-[46rem] text-[#ededed];
  }

  .illustrations {
    @apply grid grid-cols-3 gap-8 my-[6rem];
  }

  .illustration-02 {
    @apply w-full h-[36rem] col-span-2;
    background-image: url("./assets/02.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .illustration-09 {
    @apply w-full h-[36rem] col-span-1;
    background-image: url("./assets/09.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .greeting {
    @apply flex flex-col gap-4 my-24 pt-8 border-t-2 border-[#bcbcbc];
  }

  .greeting .headline {
    @apply font-heading text-5xl leading-tight mb-4 w-[52rem] tracking-tight;
  }

  .greeting .bio {
    @apply text-[#ededed] text-2xl tracking-tight w-[56rem] leading-snug;
  }

  .footer {
    @apply mt-8 mb-12 flex flex-col items-center justify-center font-heading font-medium;
  }
}