@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,200,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&display=swap');

@tailwind base;
:root {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@tailwind components;
@tailwind utilities;
