@import url("https://fonts.cdnfonts.com/css/linux-libertine-o");

@tailwind base;
:root {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @apply font-sans select-none;
  font-family: "Linux Libertine Display O", sans-serif;
}

@tailwind components;
@tailwind utilities;

body {
  @apply overflow-x-hidden;
}
